<div class="jumbotron">
    <h1>Enterprise Employee Information Management System</h1>
    <p class="lead">Enterprise employee information management system is the central portal you can update your profile information, view your attendence records and get your payroll report</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Update profile information</h2>
        <p>Update the personal profile information including profile information, contact information and workspace information</p>
        <p>
            @Html.ActionLink("Go >>", "Index", "Profile", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>
